@import url("./styles.css");

.container-faleconosco {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.contactus-page {
  background-color: var(--color-terciary);
  font-size: 36px;
  padding: 10px 40px;
  margin-bottom: 50px;
  box-shadow: 0 0 5px var(--color-secondary);
  font-family: var(--font-secondary);
}

.form form {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 6px #0000001c;
}

.form-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-header h2 {
  font-size: 20px;
}

.form-header h2::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: var(--color-secondary);
  margin: 3px auto;
  position: absolute;
  border-radius: 10px;
}

.span-required {
  margin-top: 5px;
  font-size: 12px;
  color: var(--color-red);
  display: none;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid var(--color-terciary);
}

.plans-title h6,
.input-box label {
  font-size: 14px;
}

.plans-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.plan-input {
  display: flex;
  align-items: center;
}

.plan-input input {
  margin: 0 0.35rem 0 0;
}

.plan-input label {
  font-size: 12px;
}

.plans-group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.continue-button {
  display: flex;
  justify-content: center;
}

.continue-button button {
  width: 60%;
  border: none;
  background-color: var(--color-secondary);
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: var(--color-primary);
}

.continue-button button:hover {
  background-color: #000000e0;
}
