@import url("./styles.css");

/* FALE CONOSCO - INÍCIO */

.contactus-page {
  background-color: var(--color-terciary);
  font-size: 36px;
  padding: 10px 40px;
  margin-bottom: 50px;
  box-shadow: 0 0 5px var(--color-secondary);
  font-family: var(--font-secondary);
}

/*FORMULÁRIO - INÍCIO */
.form-img img {
  width: 300px;
}
.title-form {
  margin: auto;
  width: 600px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  background-color: #050505;
  color: white;
}

.formulario {
  display: flex;

  border: 1px solid #ccc;
  border-radius: 1em;
  margin: auto;
  width: 600px;
  padding: 1em;
  box-shadow: 2px 2px 2px;
}

.campo-form {
  margin: 10px;
}

input,
#snumber,
#semail,
#sname {
  border-radius: 5px;
}

input:focus {
  background: #e0e0f8;
}

.planos {
  display: flex;
  margin-top: 10px;
}

.plano1,
.plano2,
.plano3,
.plano4 {
  box-shadow: 2px 2px 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
  width: 65px;
  height: 65px;
}
.plano1:hover,
.plano2:hover,
.plano3:hover,
.plano4:hover {
  color: white;
  background-color: black;
}
.button_form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button_form button {
  border-radius: 10px;
  width: 70px;
}

button:hover {
  color: white;
  background-color: black;
}

/*FORMULÁRIO - FIM */

/* FALE CONOSCO - FIM */
