@import url("../styles/styles.css");
/* BARRA DE NAVEGAÇÃO - INICIO */

/* MENU HAMBURGUER - INICIO */
.menu-hamburguer {
  width: 24px;
  display: none;
  margin-left: 10px;
}

.itens-menu-hamburguer {
  position: absolute;
  flex-direction: column;
  align-items: center;
  left: 0;
  font-size: 16px;
  top: 29px;
  width: auto;
  height: auto;
  z-index: 2;
  background-color: var(--color-secondary);
  border-radius: 0 0 5px 0;
  display: none;
}

.container-link-menu-hamburguer {
  margin: 10px;
}

.link-menu-hamburguer {
  color: var(--color-primary);
  font-size: 10px;
  text-decoration: none;
}

.active {
  display: block;
}
/* MENU HAMBURGUER - FIM */

.container-header-conteudo {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--color-secondary);
}

.logo {
  height: 50px;
  width: 50px;
}

.logo a img {
  margin: 5px 0 5px 10px;
  width: 80%;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px;
  margin-right: 45px;
}

.nav-bar-link {
  justify-content: center;
  text-decoration: none;
  color: var(--color-primary);
  padding-right: 30px;
  font-size: 12px;
  position: relative;
}

.nav-bar-link::after {
  content: " ";
  width: 50px;
  height: 4px;
  background-image: linear-gradient(
    45deg,
    var(--color-secondary),
    var(--color-primary)
  );
  position: absolute;
  top: 20px;
  left: 0;
  transition: width 0.5s;
}

.nav-bar-link:hover::after {
  width: 0px;
}
/* BARRA DE NAVEGAÇÃO - FIM */
