@import url("./styles.css");

.title-page {
  background-color: var(--color-terciary);
  font-size: 36px;
  padding: 10px 40px;
  margin-bottom: 50px;
  box-shadow: 0 0 5px var(--color-secondary);
  font-family: var(--font-secondary);
}
